<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<ul>
				<li class="logoArea"><span class="logo"></span><span class="headerTitle">Vision</span> For Glass</li>
				<li><a href="#whatisvision" class="nav">What Is Vision</a></li>
				<li><a href="#howitworks" class="nav">How It Works</a></li>
				<li><a href="#howigetvision" class="nav">How I Get Vision</a></li>
			</ul>
		</header>
		<div class="content">

			<div class="tile main">
				<div class="under"></div>
				<div class="over">
					<div class="titleArea">
						<span class="title">Vision For Glass allows you to extract text from images, store the results in google drive and send back the text to your glass for later.</span>
					</div>
					<div class="arrowDown">v</div>
				</div>
			</div>

			<div class="tile receipt" name="whatisvision">
				<div class="under"></div>
				<div class="over">
					<div class="cardArea">
 					</div>
				</div>
			</div>

			<div class="description receipt">
				<span class="text"></span>
			</div>

			<div class="tile clouds topShadow" >
				<div class="under"></div>
				<div class="over">
				</div>
			</div>

			<div class="description">
				<span class="text">Access your data anywhere, drive or glass, from the cloud</span>
			</div>

			<div class="tile network topShadow" name="howitworks">
				<div class="under"></div>
				<div class="over">
					<div class="titleArea">
						<div class="title">
							<div class="textArea">
								<h1>The Pipeline</h1>
							</div>
							<div class="imgArea">
								<div class="glassimg" alt="">&nbsp;</div>
								<div class="gaeimg" alt="">&nbsp;</div>
								<div class="driveimg" alt="">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="description">
				The Holy Trinity: Glass, GAE, Drive
			</div>

			<div class="description topShadow" name="howigetvision">
				<span class="text"><a href="">See it for yourself ▶</a></span>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>